.stake-button {
    color: #0cc43e;
    border: 1pt solid #0cc43e;
    border-radius: 10pt;
    background: transparent;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.stake-button:hover {
    background: #0cc43e;
    color: #ffffff;
}
